rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  	// POINTS

  	match /points/{pointId} {
      // Anyone can read points
      allow list: if true;
      allow read: if true;
      // adding is limited to authenticated users
      allow create: if request.auth.uid != null
                       && (request.resource.data.n.size() <= 51
                           && request.resource.data.d.size() <= 4000
                          );
      // authenticated user can create/update their docs
      allow update: if request.auth.uid != null
                       && resource.data.u == request.auth.uid
                       && (request.resource.data.n.size() <= 51
                          && request.resource.data.d.size() <= 4000
                       );
      // authenticated user can delete their docs
      allow delete: if request.auth.uid != null
                       && resource.data.u == request.auth.uid;
    }
  }
}
