rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthed() {
      return request.auth.uid != null
    }

    function isUser(uid) {
      return request.auth.uid == uid
    }

    function isOwner(res) {
      return res.data.u == request.auth.uid
    }

  	match /points/{pointId} {
      allow list: if true;
      allow read: if true;
      // adding is limited to authenticated users
      allow create: if isAuthed()
                    && isUser(request.resource.data.u)
                    &&
                        (request.resource.data.n.size() <= 51
                      && request.resource.data.d.size() <= 4000
                      );
      // authenticated user can create/update their docs
      allow update: if isAuthed()
                    && isUser(request.resource.data.u)
                    && isOwner(resource)
                    && 
                        (request.resource.data.n.size() <= 51
                      && request.resource.data.d.size() <= 4000
                      );
      // authenticated user can delete their docs
      allow delete: if isAuthed()
                    && isOwner(resource);
    }
  }
}
