#bgde {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--main-bg-color-dark);
  padding: 2px;
  letter-spacing: 0;
  transform: rotate(-20deg);
  cursor: pointer;
  text-align: right;
  float: right;
  position: relative;
  top: -20px;
  left: 62px;
}

#about {
  position: fixed;
  top: 40px;
  width: 200px;
  left: -200px;
  background-color: black;
  z-index: 8000;
  transition: 1s;
  font-size: 0.8rem;
  color: var(--main-bg-color-light);
  padding: 10px;
  p {
    margin-bottom: 1rem;
  }
}
.about-show {
  left: 0 !important;
}
