input, textarea {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
button {
  text-transform: uppercase;
  outline: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background-color: var(--main-bg-color-dark);
}

.error {
  padding: 4px 0;
  display: none;
  color: var(--error-color);
}
