@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@400;700&display=swap');

$font-text: 'Work Sans', sans-serif;
$font-head: 'Bitter', serif;

:root {
  --main-bg-color: #49494b;
  --main-bg-color-dark: #211d1d;
  --main-bg-color-light: #ECEFF1;

  --dark-bg-color: #49494b;
  --bg-color: #fff;

  --text-color: #211d1d;

  --error-color: #bb0000;
}
