@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@400;700&display=swap');

$font-text: 'Work Sans', sans-serif;
$font-head: 'Bitter', serif;

:root {
  --main-bg-color: #4CAF50;
  --main-bg-color-dark: #389B3C;
}
