{% extends "_base.njk" %}

{% block head %}
  <style>
    body {
      background-color: var(--main-bg-color-light);
      height: auto;
    }
    main {
      width: 80%;
      height: 80vh;
      margin: 0 auto;
      background: url("/gfx/belgrade.png") no-repeat center center;
    }
    h1 {
      margin: 2rem;
    }
  </style>
{% endblock %}

{% block main %}
  <main>
    <h1>Непостојећа страница</h1>
  </main>
{% endblock %}
